# 🔧 Build output
dist/
.astro/

# 📦 Dependências
node_modules/

# 🧪 Tipagens e caches
.vite/
.cache/
*.tsbuildinfo

# 📃 Ficheiros de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 🔐 Variáveis de ambiente
.env
.env.*
!.env.example

# 💻 Ficheiros específicos de SO
.DS_Store
Thumbs.db

# 🛠️ Ficheiros de configuração locais
.vercel/

# 🧠 IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 🔍 Outros
*.log
*.tmp
*.temp
