---
import Layout from '../layouts/Layout.astro';
import { Content as AboutMeMarkdown } from '../data/aboutMeMarkdown.md';
import { CircleUserRound } from '@lucide/astro';
---

<Layout title="Rubem | About me">
    <h1 class="text-3xl font-bold m-0 mt-5">Rubem Neto</h1>
    <p class="mb-6 text-[#c96442]">Software Engineering Student</p>
    <h2 class="flex gap-2 items-center text-2xl font-bold leading-snug mb-4">
        <CircleUserRound size={30}/>
        <div>
            About me
        </div>
    </h2>
    <div class="prose prose-lg">
        <AboutMeMarkdown/>
    </div>
</Layout>
