---
import ProjectGrid from '../components/ProjectGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rubem | Contact me">
    <h1 class="text-3xl font-bold mt-5">Rubem Neto</h1>
    <p class="text-gray-400 mb-6">Software Engineering Student</p>
    <h2 class="text-2xl font-bold leading-snug mb-4">
        🤙 Contact me
    </h2>


    <div class="space-y-4">
        <h3>
            Thank you for checking out my website! If you wanna hit me up for anything, be a project, a job or just to send me a book recomendation. I'd be excited for us to talk.
        </h3>
        <h3>
            You can send an email or a message through Linkedin. I'll probably answer faster if it's an email.<br>
        </h3>
        <h3>
            📧 Email: 
            <a href="mailto:rubemviscard2635@gmail.com" class="text-blue-500">
                rubemviscard2635@gmail.com 
            </a><br>
            🔗 LinkedIn:
            <a href="https://www.linkedin.com/in/rubem-neto-62951122b/" class="text-blue-500">
                linkedin.com/in/rubem-neto-62951122b/
            </a><br>
        </h3>
    </div>
</Layout>