---
import Layout from '../layouts/Layout.astro';
import { Link, Mail, Phone } from '@lucide/astro'
---

<Layout title="Rubem | Contact me">
    <h1 class="text-3xl font-bold m-0 mt-5">Rubem Neto</h1>
    <p class="mb-6 text-[#c96442]">Software Engineering Student</p>
    <h2 class="flex items-center gap-2 text-2xl font-bold leading-snug mb-4">
        <Phone/>
        <div>Contact me</div>
    </h2>


    <div class="space-y-4">
        <p>
            Thank you for checking out <strong>my website</strong>! If you wanna hit me up for anything, be a <strong>project</strong>, a <strong>job</strong> or just to send me a book recomendation. I'd be excited for us to talk.
        </p>
        <p>
            You can send an email or a message through Linkedin. <strong>I'll probably answer faster if it's an email.</strong><br>
        </p>
        <p>
            <div class="flex gap-1 items-center">
                <Mail/>
                Email: 
                <a href="mailto:rubemviscard2635@gmail.com">
                    rubemviscard2635@gmail.com 
                </a><br>
            </div>
            <div class="flex gap-1 items-center">
                <Link/>
                LinkedIn:
                <a href="https://www.linkedin.com/in/rubemneto74">
                    linkedin.com/in/rubemneto74
                </a><br>
            </div>
        </p>
    </div>
</Layout>