---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rubem | CV">
  <h1 class="text-3xl font-bold m-0 mt-5 no-underline">Rubem Neto</h1>
  <p class="mb-6 text-[#c96442]">Software Engineering Student</p>
  <embed
    src="/cv.pdf"
    class="w-full md:h-screen h-[500px] border-none"
    title="My CV"
  ></>
</Layout>
