---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rubem | CV">
  <h1 class="text-3xl font-bold mt-5">Rubem Neto</h1>
  <p class="text-gray-400 mb-6">Software Engineering Student</p>
  <embed
    src="/cv.pdf"
    class="w-full md:h-screen h-[500px] border-none"
    title="My CV"
  ></>
</Layout>