---
import ProjectGrid from '../components/ProjectGrid.astro';
import Layout from '../layouts/Layout.astro';
import { CodeXml,Code } from '@lucide/astro';
---
<Layout title="Sandro Luís | Portfolio">
	<section>
		<div class="mb-5">
			<h1 class="text-3xl font-bold m-0 mt-5 no-underline">Sandro Luís</h1>
			<p class="mb-6 text-[#c96442]">Computer Engineering Student</p>
			<p>
				Hello! I'm a Computer Engineering student interested in emerging technologies and sustainable development. I have practical experience in fullstack development and system integration with sensors in agricultural contexts. I've also participated in collaborative projects with real-world applications involving digital platforms, IoT, and intelligent systems. I value simple, efficient, and scalable solutions, and I demonstrate adaptability, enjoys solving complex problems, and learning new technologies.
			</p>
		</div>

		<h2 class="flex items-center gap-2 text-2xl font-bold leading-snug mb-4">
			<Code/>
			<div>Projects</div>
		</h2>
		<p class="mb-3">
			Here are some of the projects that I worked on:
		</p>
		<ProjectGrid/>

	</section>
</Layout>