---
import ProjectGrid from '../components/ProjectGrid.astro';
import Layout from '../layouts/Layout.astro';
import { CodeXml,Code } from '@lucide/astro';
---
<Layout title="Rubem | Portfolio">
  <section>
		<div class="mb-5">
			<h1 class="text-3xl font-bold m-0 mt-5 no-underline">Rubem Neto</h1>
			<p class="mb-6 text-[#c96442]">Software Engineering Student</p>
			<p>
				Hello! I'm a Software Engineering Student with around <strong>2 year of experience working in a team</strong> and contributing to <strong>open source projects</strong>. My main interests are backend development, communication systems and networking. I also like to talk about movies.
			</p>
		</div>

		<h2 class="flex items-center gap-2 text-2xl font-bold leading-snug mb-4">
		    <Code/>
		    <div>Projects</div>
		</h2>
		<p class="mb-3">
			Here are some of the projects that I worked on:
		</p>
		<ProjectGrid/>

  </section>
</Layout>
