---
import ProjectGrid from '../components/ProjectGrid.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Rubem | Portfolio">
  <section>
		<div class="mb-5">
			<h2 class="text-2xl font-bold leading-snug mb-4">
				Welcome to my little space on the web. Hope you like it!
			</h2>
			<h3>
				Third-year software engineering student with professional development experience in full-stack applications and DevOps. Passionate about backend systems and seeking to contribute to innovative projects in a collaborative environment.
			</h3>
		</div>

		<h2 class="text-2xl mb-2">
			Projects
		</h2>
		<h3 class="mb-3">
			Here are some of the projects that I most proud of:
		</h3>
		<ProjectGrid/>

  </section>
</Layout>