<header class="pt-6 px-6 pb-2">
  <nav class="flex gap-6 text-sm text-white border-b pb-1 border-dashed">
    <a href="/" class="text-white hover:text-[#c96442] no-underline">Home</a>
    <a href="/about-me" class="text-white hover:text-[#c96442] no-underline">About me</a>
    <a href="/contact" class="text-white hover:text-[#c96442] no-underline">Contact</a>
    <a download href="/rubem_cv.pdf" class="text-white hover:text-[#c96442] no-underline">CV</a>
  </nav>
</header>
